.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    height: 80px;
    background: #002f34;
    padding-left: 7%;
    padding-right: 7%;
}
.navbar .collections{
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar .item{
    cursor: pointer;
    margin-right: 15px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: ease-in-out 0.5s;
}
.navbar .item:hover{
    color: #7f9799
}

.navbar .button{
    cursor: pointer;
    background: #fff;
    color: #002f34;
    float: right;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 47px;
    width: 226px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: ease 0.3s;
}
.navbar .button:hover{
    border: 2px solid #fff;
    background: #002f34;
    color: #fff;
}

.section__search{
    background: #f2f4f5;
    height: 90px;
}

.search{
    border: 1px solid #fff;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.search input{
    width: 400px;
    height: 50px;
    outline: none;
    font-size: 20px;
    border: none;
}
.search button{
    height: 45px;
    width: 45px;
    background-color: #002f34;
    color: #fff;
    font-size: 20px;
    display: none;
}
.subnavbar{
    display: none;
}

.bottom__navbar{
    position: fixed;
    width: 100%;
    background: #002f34;
    color: #fff;
    font-size: 3vw;
    font-weight: 500;
    height: 15vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 555;
    bottom: 0;
}
.bottom__navbar .collections{
    display: flex;
    align-items: center;
    gap: 10%;
    list-style: none;
    cursor: pointer;
}
.bottom__navbar .item{
    transition: ease-in-out 0.4s;
    text-align: center;
}
.bottom__navbar .item:hover{
    color: #7f9799;
}
@media screen and (max-width: 960px) {
    .navbar{
        display: none;
    }
    .subnavbar{
        display: block;
    }
}