.product__info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;

    .left {
        img {
            width: 100%;
            height: auto;
        }
    }

    .right {
        width: 35%;
        font-weight: normal;

        h1 {
            font-weight: 500;
        }
    }

    .newDiv {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        gap: 20px;
    }

    .buy {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 10px;

        .icon {
            cursor: pointer;
        }
    }

}